.top-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 50px;
  }

.bottom-bar {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 5px;
  overflow: hidden;
  background-color: #f3f3f3;
  position: fixed;
  bottom: 0;
  width: 100%;
  }
  
li {
    float: left;
  }
  
li a {
    display: line;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    font-family: arial, sans-serif;
  }
  
li a:hover:not(.active) {
    text-decoration: underline;
  }

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    }

.row img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    }

