.top-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 50px;
  }

.bottom-bar {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 5px;
  overflow: hidden;
  background-color: #f3f3f3;
  position: fixed;
  bottom: 0;
  width: 100%;
  }
  
li {
    float: left;
  }
  
li a {
    display: line;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    font-family: arial, sans-serif;
  }
  
li a:hover:not(.active) {
    text-decoration: underline;
  }

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    }

input[type=text] {
  width: 48%;
  margin-left: 26%;
  margin-right: 26%;
  margin-bottom: 30px;
  padding-bottom: 50px;
  border: 2px solid #ccc;
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid rgb(184, 185, 185);
  padding: 13px;
  box-sizing: border-box;
  background-color: white;
  background-image: url('./Images/googlemic.png');
  background-position: 97%; 
  background-repeat: no-repeat;
  background-size: 16px;
}

input:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.row img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    }

button {
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}
